.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.d-inline-block {
    display: inline-block;
}

.d-inline {
    display: inline;
}

.d-grid {
    display: grid;
}

.f-center {
    justify-content: center;
    align-items: center;
}

.f-space-around {
    justify-content: space-around;
}

.f-space-between {
    justify-content: space-between;
}

.f-space-evenly {
    justify-content: space-evenly;
}

.f-start {
    justify-content: flex-start;
}

.f-end {
    justify-content: flex-end;
}

.f-left {
    justify-content: left;
}

.f-right {
    justify-content: right;
}