.w-pr5 {
    width: 5%;
}
.w-pr10 {
    width: 10%;
}
.w-pr15 {
    width: 15%;
}
.w-pr20 {
    width: 20%;
}
.w-pr25 {
    width: 25%;
}
.w-pr30 {
    width: 30%;
}
.w-pr35 {
    width: 35%;
}
.w-pr40 {
    width: 40%;
}
.w-pr45 {
    width: 45%;
}
.w-pr50 {
    width: 50%;
}
.w-pr60 {
    width: 60%;
}
.w-pr70 {
    width: 70%;
}
.w-pr80 {
    width: 80%;
}
.w-pr90 {
    width: 90%;
}
.w-pr100 {
    width: 100%;
}
.w-px5 {
    width: 5px;
}
.w-px10 {
    width: 10px;
}
.w-px15 {
    width: 15px;
}
.w-px20 {
    width: 20px;
}
.w-px25 {
    width: 25px;
}
.w-px30 {
    width: 30px;
}
.w-px35 {
    width: 35px;
}
.w-px40 {
    width: 40px;
}
.w-px45 {
    width: 45px;
}
.w-px50 {
    width: 50px;
}
.w-px60 {
    width: 60px;
}
.w-px70 {
    width: 70px;
}
.w-px80 {
    width: 80px;
}
.w-px90 {
    width: 90px;
}
.w-px100 {
    width: 100px;
}
.w-px110 {
    width: 110px;
}
.w-px120 {
    width: 120px;
}
.w-px130 {
    width: 130px;
}
.w-px140 {
    width: 140px;
}
.w-px150 {
    width: 150px;
}
.w-px160 {
    width: 160px;
}
.w-px170 {
    width: 170px;
}
.w-px180 {
    width: 180px;
}
.w-px190 {
    width: 190px;
}
.w-px200 {
    width: 200px;
}
.w-px220 {
    width: 220px;
}
.w-px240 {
    width: 240px;
}
.w-px260 {
    width: 260px;
}
.w-px280 {
    width: 280px;
}
.w-px300 {
    width: 300px;
}
.w-px320 {
    width: 320px;
}
.w-px340 {
    width: 340px;
}
.w-px360 {
    width: 360px;
}
.w-px380 {
    width: 380px;
}
.w-px400 {
    width: 400px;
}
.w-px420 {
    width: 420px;
}
.w-px440 {
    width: 440px;
}
.w-px460 {
    width: 460px;
}
.w-px480 {
    width: 480px;
}
.w-px500 {
    width: 500px;
}
.h-pr5 {
    height: 5%;
}
.h-pr10 {
    height: 10%;
}
.h-pr15 {
    height: 15%;
}
.h-pr20 {
    height: 20%;
}
.h-pr25 {
    height: 25%;
}
.h-pr30 {
    height: 30%;
}
.h-pr35 {
    height: 35%;
}
.h-pr40 {
    height: 40%;
}
.h-pr45 {
    height: 45%;
}
.h-pr50 {
    height: 50%;
}
.h-pr60 {
    height: 60%;
}
.h-pr70 {
    height: 70%;
}
.h-pr80 {
    height: 80%;
}
.h-pr90 {
    height: 90%;
}
.h-pr100 {
    height: 100%;
}
.h-px5 {
    height: 5px;
}
.h-px10 {
    height: 10px;
}
.h-px15 {
    height: 15px;
}
.h-px20 {
    height: 20px;
}
.h-px25 {
    height: 25px;
}
.h-px30 {
    height: 30px;
}
.h-px35 {
    height: 35px;
}
.h-px40 {
    height: 40px;
}
.h-px45 {
    height: 45px;
}
.h-px50 {
    height: 50px;
}
.h-px60 {
    height: 60px;
}
.h-px70 {
    height: 70px;
}
.h-px80 {
    height: 80px;
}
.h-px90 {
    height: 90px;
}
.h-px100 {
    height: 100px;
}
.h-px110 {
    height: 110px;
}
.h-px120 {
    height: 120px;
}
.h-px130 {
    height: 130px;
}
.h-px140 {
    height: 140px;
}
.h-px150 {
    height: 150px;
}
.h-px160 {
    height: 160px;
}
.h-px170 {
    height: 170px;
}
.h-px180 {
    height: 180px;
}
.h-px190 {
    height: 190px;
}
.h-px200 {
    height: 200px;
}
.h-px220 {
    height: 220px;
}
.h-px240 {
    height: 240px;
}
.h-px260 {
    height: 260px;
}
.h-px280 {
    height: 280px;
}
.h-px300 {
    height: 300px;
}
.h-px320 {
    height: 320px;
}
.h-px340 {
    height: 340px;
}
.h-px360 {
    height: 360px;
}
.h-px380 {
    height: 380px;
}
.h-px400 {
    height: 400px;
}
.h-px420 {
    height: 420px;
}
.h-px440 {
    height: 440px;
}
.h-px460 {
    height: 460px;
}
.h-px480 {
    height: 480px;
}
.h-px500 {
    height: 500px;
}